body {
    background-color: #3f3f46;
    display: flex;
    justify-content: center;
}

div.game-board {
    display: grid;
    grid-template: repeat(3, min-content) / repeat(3, min-content);
}

button.cell {
    width: 5rem;
    height: 5rem;
}

button.player-1.cell {
    background-image: url("images/x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

button.player-2.cell {
    background-image: url("images/o.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
